body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px 0 15px;
  width: 1158px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ============ NAVIGATION ============ */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.one {
  display: flex;
}

.logo,
.logo-two {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo {
  margin-right: 76px;
}

.logo-two {
  display: inline-block;
  margin-bottom: 16px;
}

.studio {
  color: #2e2f42;
}

.studio-end {
  color: #f4f4fd;
}

.nav-content {
  display: flex;
  align-items: center;
}

.navigation,
.add-contact {
  display: flex;
  gap: 40px;
  /* padding: 24px 0 24px 0; */
}

.item-nav {
  color: #2e2f42;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px 0;
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.item-add {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px 0;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-add:hover,
.item-add:focus,
.item-nav:hover,
.item-nav:focus {
  color: #404bbf;
}

.first-item {
  color: #404bbf;
}

.first-item::after {
  content: "";
  left: 0px;
  right: 0px;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  position: absolute;
  background-color: #404bbf;
}

.first-item:hover::after,
.first-item:focus::after {
  background-color: #404bbf;
}

/* ======== HERO ======== */

.hero-img {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.button {
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  min-width: 169px;
  border-radius: 4px;
  margin: auto;
  height: 56px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: #404bbf;
}

/*======= FEATURES ========*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-icon {
  padding: 24px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
  max-width: 264px;
  height: 112px;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.feature-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  letter-spacing: 0.32px;
  line-height: 1.5;
}

/* ===== TEAM SECTION ===== */
.team {
  background: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-card {
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.social-link-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-two {
  fill: #f4f4fd;
}

.icon-item:hover,
.icon-item:focus {
  background-color: #404bbf;
}

.card-content {
  padding-bottom: 32px;
  padding-top: 32px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.card-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/* ======= PROJECTS ======= */

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  padding: 40px 32px;
  transition-property: box-shadow;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay {
  transform: translateY(0%);
}

.project-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-card-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-card {
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.project-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.end {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-one {
  margin-right: 120px;
}

.footer-text-media {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-link-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-two {
  fill: #f4f4fd;
}

.footer-icon-item:hover,
.footer-icon-item:focus {
  background-color: #31d0aa;
}

.footer-form {
  margin-left: 80px;
}

.footer-label {
  margin: 0 auto;
}

.footer-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  padding-left: 16px;
  outline: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.footer-label-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-form-btn {
  color: #fff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  margin: auto;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-footer {
  display: flex;
  gap: 24px;
}

.footer-icon-three {
  fill: #fff;
  margin-left: 16px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}

/* ====================================================== */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-icon {
  fill: #2e2f42;
  transition-property: fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition-property: background-color, border;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}

.btn-close:hover .btn-close-icon,
.btn-close:focus .btn-close-icon {
  fill: #ffffff;
  border: none;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
  margin-bottom: 16px;
  margin-top: 48px;
  text-align: center;
}

.fild {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  color: #2e2f42;
  outline: transparent;
  transition-property: border-color;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fild:focus {
  border-color: #4d5ae5;
}

.fild:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-form {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
}

.modal-form-item {
  margin-bottom: 8px;
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-form-btn {
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  min-width: 169px;
  margin: auto;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background: #404bbf;
}

.input-fild {
  position: relative;
}

.modal-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition-property: fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  color: #2e2f42, 40%;
  margin-top: 4px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);
}

.user-textarea:focus {
  border-color: #4d5ae5;
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  align-items: center;
}

.policy {
  color: #4d5ae5;
  font-size: 12px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.check-text-box {
  width: 16px;
  height: 16px;
  display: inline-flex;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text > .check-text-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-check {
  margin-bottom: 24px;
}
